# SPDX-FileCopyrightText: 2026 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD

*
!/.gitignore
!/README.md
!/tree-sitter.json
!/grammar.js
!/LICENSE
!/queries
!/queries/**
!/ftdetect
!/ftdetect/**
!/ftplugin
!/ftplugin/**
!/plugin
!/plugin/**
